html, body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

/* body {
  overflow: hidden;
} */

/* smooth */
.cm-cursor {
  transition: all 80ms;
}

.App {
  height: 100%;
}

.container {
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.scrollable {
  height: inherit;
}

.scroll-allowed {
  height: 100%;
}

.Resizer {
  border-radius: 6px;
  background: #000;
  opacity: 0.4;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box; 
  transition: 0.5s;
}

.Resizer.horizontal { 
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%; 

}

.Resizer:hover {
  opacity: 0.6;
  transition: 0.5s;
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.disabled {
  cursor: not-allowed;
}

.Resizer.disabled:hover {
  border-color: transparent;
}

/* CM Editor */
.editor-pane {
  overflow: auto;
  height: 100%;
}

.cm-content {
  font-size: 1.3em;
  font-family: 'SF Pro Display', sans-serif;
  line-height: 1.3em;
  height: 100%;
  white-space: pre-wrap;
}

.cm-editor .cm-gutter {
  min-height: 1080px;
}

.cm-gutter {
  background-color: #fff;
}

.cm-wrap { 
  height: 100%; 
}

.cm-scroller { 
  overflow: auto;
}

.cm-s-default .cm-header {
  color: black;
}

/* preview component */
.ReactCodeMirror {
  height: 100%;
}
.result {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 1.3em;
  line-height: 1.3em;
  max-width: 100%;
}

.preview {
  width: 100%;
  display: inline;
  word-wrap: break-all;
  overflow-wrap: break-word;
  word-break: break-word;

}

h1 {
  line-height: 1em;
  margin-top: 0;

}

h2 {
  margin-top: 0;
  line-height: 1em;
}

p {
  margin-top: 0;
}

ul {
  margin-top: 0;
}

.view-pane {
  height: 100%;
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* menubar */

.navHorizontal {
  height: 5%;
  padding-top: 2px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

.menuBar {
  height: 18px;
  background-color: #ffffff; 
  color: white;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  margin-bottom: 5px;
  z-index: 999;
}

.menuBar .menuIcon {
  display: inline-block;
}

img {
  max-width:100%;
  max-height:100%;
}

.menuIcon {
  height: 24px;
  user-select: none;
}

.icon:hover {
  filter: invert(22%) sepia(1%) saturate(0%) hue-rotate(19deg) brightness(98%) contrast(90%);
} 

.rightComponents {
  float: right;
}

.leftComponents {
  float: left;
}

.menuIcon .tooltip {
  visibility: hidden;
  width: 75px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  position: absolute;
  z-index: 999;
  top: 100%;
  font-size: 0.7em;
  margin-left: -55px;
  opacity: 0;
}

.menuIcon .tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.menuIcon:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transition: opacity 0s ease-in-out 1s;
}

/* footer panel */

.footerPanel {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footerInfo {
  font-size: 15px;
  color: #000;
  display: inline;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  user-select: none;
}

/* Highlight specific components */
code {
  width: 100%;
  display: inline-block;
  background-color: #F7F7F7;
  padding: 5px;
  font-size: 0.8em;
  border-radius: 2px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}