html, body {
  height: 100%;
}

/* body {
  overflow: hidden;
} */

/* smooth */
.cm-cursor {
  transition: all 80ms;
}

.App {
  height: 100%;
}

.container {
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.scrollable {
  height: inherit;
}

.scroll-allowed {
  height: 100%;
}

.Resizer {
  border-radius: 6px;
  background: #000;
  opacity: 0.4;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  /* -webkit-transition: all 2s ease;
  transition: all 2s ease; */
}
/* .Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
} */
.Resizer.horizontal { 
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}
.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}
.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

/* CM Editor */
.editor-pane {
  overflow: auto;
  height: 100%;
}

/* .CodeMirror {
  height: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.3em;
  font-family: 'SF Pro Display', sans-serif;
  line-height: 1.3em;
} */

.cm-content {
  font-size: 1.3em;
  font-family: 'SF Pro Display', sans-serif;
  line-height: 1.3em;
  height: 100%;
  white-space: pre-wrap
}

.cm-editor .cm-gutter {
  min-height: 1080px;
}

.cm-wrap { 
  height: 100%; 
}

.cm-scroller { 
  overflow: auto; 
}

.cm-s-default .cm-header {
  color: black;
}

/* variable height */
/* .cm-header-1 {
  font-size: 150%;
}
.cm-header-2 {
  font-size: 130%;
}
.cm-header-3 {
  font-size: 120%;
}
.cm-header-4 {
  font-size: 110%;
}
.cm-header-5 {
  font-size: 100%;
}
.cm-header-6 {
  font-size: 90%;
} */

/* preview component */
.ReactCodeMirror {
  height: 100%;
}
.result {
  /* padding-top: 20px; */
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  /* overflow-x: hidden; */
  font-family: 'SF Pro Display', sans-serif;
  font-size: 1.3em;
  line-height: 1.3em;
  max-width: 100%;
}

.preview {
  width: 100%;
  display: inline;
  word-wrap: break-all;
  overflow-wrap: break-word;
  word-break: break-word;
}

h1 {
  line-height: 1em;
  margin-top: 0;
}

.view-pane {
  height: 100%;
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* menubar */

.navHorizontal {
  height: 5%;
  padding-top: 2px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.menuBar {
  height: 18px;
  background-color: #ffffff; 
  color: white;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  margin-bottom: 5px;
  z-index: 999;
}

.menuBar .menuIcon {
  display: inline-block;
}

img {
  max-width:100%;
  max-height:100%;
}

.menuIcon {
  height: 24px;
}

.rightComponents {
  float: right;
}

/* Highlight specific components */
code {
  width: 100%;
  display: inline-block;
  background-color: #F7F7F7;
  padding: 5px;
}