:root {
  --bg-color: #1b1b1b;
  --primary-text: #c5c5c5;
  --secondary-text: rgba(180, 180, 182, 0.4);
  --muted-text: rgba(180, 180, 182, 0.2);
  --search-background: rgba(180, 180, 182, 0.1);
  --elevated-bg: #262626;
  --icon-filter: none;
  --base: #262626;
  --code: #f6f8fa;
  --separator-border: rgba(180, 180, 182, 0.2) !important;
  --nonfocused-opacity: 1;
  --button-highlight: #5271ff;
  --button-highlight-text: #F8F8F8;
}

[data-theme="light"] {
  --bg-color: #fff;
  --primary-text: rgb(41, 37, 36);
  --secondary-text: #8a8a8e;
  --muted-text: #e4e4e4;
  /* --muted-text: #f8f8fa; */
  --search-background: #f8f8fa;
  --base: #fff;
  --elevated-bg: #f8f8fa;
  --icon-filter: brightness(20%) sepia(100) saturate(0) hue-rotate(25deg);
  --code: #f6f8fa;
  --separator-border: #e4e4e4 !important;
  --nonfocused-opacity: 1;
  --button-highlight: #5271ff;
  --button-highlight-text: #F8F8F8;
  --editorIconFilter: none;
  --editorBoxShadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.15);
  --scrollGradient: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 92%, rgba(245,245,245,1) 100%);
  --muted-translucent: rgba(228, 228, 228, 0.2);
  --font: "Inter", sans-serif;
}

[data-theme="beige"] {
  /* --bg-color: #fff; */
  --bg-color: #f3f0e9;
  --primary-text: rgb(41, 37, 36);
  --secondary-text: #8a8a8e;
  --muted-text: #e4e4e4;
  /* --muted-text: #f8f8fa; */
  /* --search-background: #f8f8fa; */
  --search-background: #F2ECE1;
  /* --base: #fff; */
  --base: #F6F4E6;
  /* --elevated-bg: #f8f8fa; */
  --elevated-bg: #f3f0e9;
  --icon-filter: brightness(20%) sepia(100) saturate(0) hue-rotate(25deg);
  --code: #f6f8fa;
  --separator-border: #e4e4e4 !important;
  --nonfocused-opacity: 1;
  /* --button-highlight: #5271ff; */
  --button-highlight: #E4D4C8;
  --button-highlight-text: #F8F8F8;
  --editorIconFilter: none;
  --editorBoxShadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.15);
  --muted-translucent: rgba(228, 228, 228, 0.2);
  --font: "Proxima Soft", sans-serif;
}

[data-theme="dark"] {
  --bg-color: #1b1b1b;
  /* --bg-color: #262626; */
  /* --bg-color: #2a2e34; */
  --primary-text: #c5c5c5;
  /* --primary-text: #f7f7fa; */
  /* --secondary-text: rgba(180, 180, 182, 0.4); */
  --secondary-text: #717374;
  --muted-text: rgba(180, 180, 182, 0.2);
  --search-background: rgba(180, 180, 182, 0.1);
  /* --elevated-bg: #262626; */
  --base: #1b1b1b;
  /* --elevated-bg: #31353d; */
  /* --elevated-bg: #2a2e34; */
  --icon-filter: none;
  --elevated-bg: #262626;
  /* --base: #2a2e34; */
  --code: #242424;
  --separator-border: rgba(180, 180, 182, 0.2) !important;
  --nonfocused-opacity: 1;
  --button-highlight: #5271ff;
  --button-highlight-text: #F8F8F8;
  --editorIconFilter: invert(89%) sepia(0%) saturate(70%) hue-rotate(134deg) brightness(94%) contrast(82%);
  --editorBoxShadow: 0px 0px 6px -1px rgba(255, 255, 255, 0.2);
  --scrollGradient: linear-gradient(180deg, rgba(27,27,27,1) 97%, rgba(66,66,66,1) 100%);
  --font: "Inter", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  font-size: 15px;
  image-rendering: -webkit-optimize-contrast;
  text-rendering: optimizeLegibility;
}

/* main view */

.App {
  scroll-behavior: smooth;
}

body {
  background-color: var(--base);
}

.App {
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  height: 100%;
}

.scrollable {
  height: inherit;
}

.scroll-allowed {
  height: 100%;
}

.editingView {
  width: 100%;
  display: inline-block;
}

.elevated {
  float: left;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  box-sizing: border-box;
  height: calc(100vh - 75px);
  width: 100%;
  bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.elevatedLeft {
  display: inline-block;
  height: calc(100vh - 95px);
  /* width: calc((100% - 280px) - 116px); */
  /* margin-left: 268px; */
  /* 270 toc +32 */
  transition: 0.2s;
}

.elevatedRight {
  position: relative;
  background-color: var(--elevated-bg);
  box-sizing: border-box;
  height: calc(100vh - 95px - 16px);
  width: 80px;
  border-radius: 16px;
  display: inline-block;
  margin-left: 20px;
  margin-top: 16px;
  vertical-align: top;
  text-align: center;
}

.selected {
  background-color: var(--muted-text);
  border-radius: 5px;
}

.elevatedRightPanel {
  position: relative;
  background-color: var(--elevated-bg);
  box-sizing: border-box;
  height: calc(100vh - 95px - 16px);
  width: 240px;
  border-radius: 16px;
  display: inline-block;
  margin-left: 28px;
  margin-top: 16px;
  vertical-align: top;
  text-align: center;
  overflow: auto;
}

.elevatedRightInner {
  color: var(--primary-text);
  font-family: var(--font);
  padding-left: 28px;
  padding-right: 28px;
  display: block;
  height: 100%;
  overflow-x: hidden;
  bottom: 0;
  word-wrap: break-all;
  overflow-wrap: break-word;
  word-break: break-word;
  user-select: none;
}

.elevatedRightInner {
  color: var(--primary-text);
  font-family: var(--font);
  padding-left: 28px;
  padding-right: 28px;
  display: block;
  height: 100%;
  overflow-x: hidden;
  bottom: 0;
  word-wrap: break-all;
  overflow-wrap: break-word;
  word-break: break-word;
  user-select: none;
}

.tocIconRight {
  /* height: auto; */
  object-fit: cover;
  width: 24px;
  vertical-align: middle;
  margin-top: 10px;
  margin-bottom: 10px;
  filter: var(--editorIconFilter);
}

.tocIconRight:hover {
  background-color: var(--muted-text);
  border-radius: 5px;
}

.tocIconRightFirst {
  /* height: auto; */
  object-fit: cover;
  width: 24px;
  vertical-align: middle;
  margin-bottom: 10px;
  margin-top: 24px;
  filter: var(--editorIconFilter);
}

.tocIconRightFirst:hover {
  background-color: var(--muted-text);
  border-radius: 5px;
}

.tocIconRightLast {
  /* height: auto; */
  object-fit: cover;
  width: 24px;
  vertical-align: middle;
  /* padding-right: 5px; */
  /* display: block; */
  filter: var(--editorIconFilter);
}

.elevatedRightTopBottom {
  height: calc((100vh - 95px - 140px) / 2);
  border-radius: 10px;
  /* background-color: var(--search-background); */
  background-color: var(--elevated-bg);
  overflow: auto;
  box-sizing: border-box;

}

#text {
  scroll-behavior: smooth;
}

.elevatedRightTopTop {
  height: 120px;
  border-radius: 10px;
  background-color: var(--search-background);
  background-color: var(--elevated-bg);
  overflow: auto;
  box-sizing: border-box;
  margin-bottom: 20px;

}

.elevatedRightBottom {
  height: calc((100vh - 95px - 140px) / 2);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--search-background);
  background-color: var(--elevated-bg);
  margin-top: 20px;
}


.elevatedLeft .elevatedRight {
  display: inline-block;
}

/* Milkdown Editor */

.milkdown {
  font-size: 1.2em;
  font-family: var(--font);
  line-height: 1.4em;
  white-space: pre-wrap;
  color: var(--primary-text);
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
  display: inline-block;
}

.milkdown p {
  font-size: 16px;
}

.ProseMirror {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 5px;
  box-sizing: border-box;
  background-color: var(--bg-color);
  border-radius: 10px;
}

.ProseMirror:focus {
  outline: none !important;
}

.optionsContainer {
  display: block;
  width: 100%;
  height: 55px;
  padding-bottom: 5px;
  /* margin-left: auto; */
}

.moreDots {
  height: auto;
  width: 24px;
  margin-right: 22px;
  margin-left: auto;
  filter: var(--editorIconFilter);
}

.moreDots:hover {
  background-color: var(--muted-text);
  border-radius: 5px;
}

.star {
  height: auto;
  width: 24px;
  /* padding-right: 22px; */
  margin-left: auto;
  /* padding: 5px; */
  margin-top: 16px;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
  display: inline-block;
  filter: var(--editorIconFilter);
}

.back {
  height: auto;
  width: 24px;
  margin-left: auto;
  margin-top: 16px;
  margin-right: 5px;
  vertical-align: middle;
  display: inline-block;
  filter: var(--editorIconFilter);
  user-select: none;
}

.back:hover {
  background-color: var(--muted-text);
  border-radius: 5px;
}

.optionsBarIcon {
  display: block;
}

.exportButton {
  background-color: var(--button-highlight);
  border: none;
  border-radius: 5px;
  color: var(--button-highlight-text);
  width: 100px;
  font-size: 1em;
  padding: 5px;
  height: 36px;
  font-family: var(--font);
  /* font-weight: bold; */
  transition: 0.3s;
  box-shadow: 0px 5px 9px 0px #5271ff1f;
  vertical-align: middle;
}

.addTopicButton {
  background-color: transparent;
  border: 1px solid var(--muted-text);
  border-radius: 10px;
  color: var(--secondary-text);
  width: 110px;
  font-size: 1em;
  padding: 2px;
  height: 36px;
  font-family: var(--font);
  transition: 0.3s;
  vertical-align: middle;
  margin-right: 10px;
}

.exportButton:hover {
  filter: brightness(90%);
}

.addTopicButton:hover {
  /* filter: brightness(90%); */
  background-color: var(--muted-text);
}

.optionObject .optionsContainer {
  display: inline-block;
}

.optionObject {
  padding-top: 16px;
  vertical-align: middle;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.optionObjectIcon {
  /* padding-top: 16px; */
  vertical-align: middle;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.buttonIcon {
  object-fit: cover;
  width: 19px;
  vertical-align: middle;
  padding-right: 5px;
  user-select: none;
}

.buttonIconSmall {
  object-fit: cover;
  width: 14px;
  vertical-align: middle;
  margin-left: 5px;
  user-select: none;
  transition: 0.2s;
}

.buttonIconSmall:hover {
  background-color: var(--muted-text);
  border-radius: 24px;
}

.tocIcon {
  /* height: auto; */
  object-fit: cover;
  width: 24px;
  vertical-align: middle;
  padding-right: 5px;
  /* display: block; */
  filter: var(--editorIconFilter);
}

.tocInnerText {
  vertical-align: middle;
}

#closeTOC {
  /* margin-left: 67px; */
  padding-right: 0px;
}

#closeTOC:hover {
  background-color: var(--muted-text);
  border-radius: 5px;
}

#closeDock:hover {
  background-color: var(--muted-text);
  border-radius: 5px;
}

.buttonIcon .tocTitle {
  display: inline-block;
}

/* .exportButton .moreDots {
  display: inline-block;
} */

.optionMenuText {
  font-family: var(--font);
  color: var(--primary-text);
  font-size: 1em;
  padding-left: 27px;
}

.calendarContainer {
  text-align: center;
  box-sizing: border-box;
  background-color: var(--bg-color);
  height: 360px;
  width: 360px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 10px;
}

.rightComponents {
  float: right;
  text-align: right;
}

.leftComponents {
  float: left;
  text-align: left;
  padding-left: 27px;
  vertical-align: middle;
}

.rightComponents .leftComponents {
  display: inline-block;
}

.td .column-resize-handle .Prosemirror-widget:hover {
  color: var(--button-highlight);
}

button {
  color: var(--primary-text);
}


/* menubar */

.navHorizontal {
  float: right;
  height: 5%;
  margin-top: 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--base);
  /* width: calc(100% - 240px); */
}

.menuBar {
  background-color: var(--base);
  color: white;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  margin-bottom: 5px;
  height: 65px;
  text-align: center;
}

.menuBar .menuIcon {
  display: inline-block;
}

.menuBar .menuIconLogo {
  display: inline-block;
}

.menuBar .logo {
  display: inline-block;
}

.logo .icon {
  height: 24px;
  user-select: none;
  /* padding-right: 10px; */
  border-radius: 50%;
}

.logo {
  padding-right: 5px;
}

.logo .icon {
  filter: none;
  transition: 0.3s;
}

#navLeft {
  filter: var(--editorIconFilter);
}

#navRight {
  filter: var(--editorIconFilter);
}

.logo .icon:hover {
  /* border-radius: 50%; */
  filter: brightness(90%);

}

.menuBar .menuAddOptionButton {
  display: inline-block;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.menuIcon {
  height: 30px;
  user-select: none;
}

.menuIconLogo {
  height: 18px;
  user-select: none;
  padding-right: 10px;
}

.menuIconLogo .icon {
  filter: var(--icon-filter);
}

.open {
  height: 24px;
}

.icon {
  filter: var(--icon-filter);
  padding-left: 5px;
  padding-right: 5px;
  transition: 0.2s;
  vertical-align: middle;
}

#firstIcon {
  padding-left: 2px;
}

.icon:hover {
  filter: invert(22%) sepia(0%) saturate(0%) hue-rotate(19deg) brightness(98%) contrast(90%);
}

#focus {
  transition: 0.7s;
}

.menuAddOptionButton {
  background-color: var(--button-highlight);
  /* border-radius: 45px; */
  border: none;
  border-radius: 45px;
  color: var(--button-highlight-text);
  width: 100px;
  font-size: 1em;
  font-weight: bold;
  padding: 5px;
  height: 36px;
  margin-left: 10px;
  margin-right: 5px;
  font-family: var(--font);
  transition: 0.3s;
  box-shadow: 0px 5px 9px 0px #5271ff1f;
  vertical-align: middle;
}

@media only screen and (max-width: 1100px) {
  .menuAddOptionButton {
    background-color: var(--button-highlight);
    border: none;
    border-radius: 50%;
    color: var(--button-highlight-text);
    width: 36px;
    font-size: 1em;
    font-weight: bold;
    padding: 5px;
    height: 36px;
    margin-left: 10px;
    margin-right: 5px;
    font-family: var(--font);
    transition: 0.3s;
    box-shadow: 0px 5px 9px 0px #5271ff1f;
    vertical-align: middle;
  }

  .menuAddOptionButton .buttonText {
    display: none;
    width: 0px;
  }

  .menuAddOptionButton .buttonIcon {
    padding-right: 0px;
  }
}

.menuAddOptionButton:hover {
  /* border-radius: 5px; */
  filter: brightness(90%);
}

.buttonText {
  vertical-align: middle;
  user-select: none;
}

.addSymbol {
  font-weight: normal;
}

.search {
  width: 800px;
  height: 42px;
  box-sizing: border-box;
  outline: none;
  font-size: 1em;
  background-color: var(--search-background);
  font-family: var(--font);
  color: var(--primary-text);
  padding-left: 48px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 16px;
  border: none;
  text-align: left;
  position: relative;
  display: inline-block;
  margin-left: 5px;
  margin-right: 10px;
  z-index: 0;
  transition: 0.2s;
}

.search::placeholder {
  user-select: none;
}

@media only screen and (max-width: 1400px) {
  .search {
    width: 600px;
    height: 42px;
    box-sizing: border-box;
    outline: none;
    font-size: 1em;
    background-color: var(--search-background);
    font-family: var(--font);
    color: var(--primary-text);
    padding-left: 48px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 16px;
    border: none;
    text-align: left;
    position: relative;
    display: inline-block;
    /* margin-bottom: 5px; */
    margin-left: 5px;
    margin-right: 10px;
    z-index: 0;
    transition: 0.2s;
  }
}

@media only screen and (max-width: 1200px) {
  .search {
    width: 500px;
    height: 42px;
    box-sizing: border-box;
    outline: none;
    font-size: 1em;
    background-color: var(--search-background);
    font-family: var(--font);
    color: var(--primary-text);
    padding-left: 48px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 16px;
    border: none;
    text-align: left;
    position: relative;
    display: inline-block;
    /* margin-bottom: 5px; */
    margin-left: 5px;
    margin-right: 10px;
    z-index: 0;
    transition: 0.2s;
  }
}

@media only screen and (max-width: 1100px) {
  .search {
    width: 400px;
    height: 42px;
    box-sizing: border-box;
    outline: none;
    font-size: 1em;
    background-color: var(--search-background);
    font-family: var(--font);
    color: var(--primary-text);
    padding-left: 48px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 16px;
    border: none;
    text-align: left;
    position: relative;
    display: inline-block;
    margin-left: 5px;
    margin-right: 10px;
    z-index: 0;
    transition: 0.2s;
  }
}

@media only screen and (max-width: 820px) {
  .search {
    width: 300px;
    height: 42px;
    box-sizing: border-box;
    outline: none;
    font-size: 1em;
    background-color: var(--search-background);
    font-family: var(--font);
    color: var(--primary-text);
    padding-left: 48px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 16px;
    border: none;
    text-align: left;
    position: relative;
    display: inline-block;
    margin-left: 5px;
    margin-right: 10px;
    z-index: 0;
    transition: 0.2s;
  }
}

.search:hover {
  filter: brightness(95%);
}

.searchContainer {
  display: inline-block;
}

.search .menuIcon {
  display: inline-block;
}

.search .menuAddOptionButton {
  vertical-align: middle;
}

.searchWrapper {
  display: inline-block;
  z-index: 999;
  width: 24px;
  position: relative;
  vertical-align: middle;
  margin-right: -45px;
  padding-left: 20px;
  user-select: none;
}

.searchIcon {
  /* margin-right: -85px; */
  user-select: none;

}

.afterSearch {
  margin-left: 252px;
}

.menuIcon .tooltip {
  visibility: hidden;
  width: 75px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  font-size: 0.7em;
  margin-left: -56px;
  opacity: 0;
  font-family: var(--font);
}

.menuIcon .tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.menuIcon:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transition: opacity 0s ease-in-out 1s;
}

/* table of contents */

.rightStatComponents {
  float: right;
  text-align: right;
}

.leftStatComponents {
  float: left;
  text-align: left;
  padding-left: 5px;
}

.tableOfContents {
  position: absolute;
  /* float: left; */
  width: 240px;
  height: 100%;
  bottom: 0;
  background-color: var(--elevated-bg);
  border-bottom-left-radius: 10px;
  overflow: auto;
}

.tableInfo {
  color: var(--primary-text);
  font-family: var(--font);
  padding-left: 28px;
  padding-right: 28px;
  display: block;
  height: 100%;
  overflow-x: hidden;
  bottom: 0;
  word-wrap: break-all;
  overflow-wrap: break-word;
  word-break: break-word;
  user-select: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 36px;
  margin-top: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--muted-text);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 10px;
  vertical-align: middle;
  z-index: 1;
}

.sliderRight {
  position: absolute;
  content: "";
  height: 28px;
  /* width: 26px; */
  width: calc((100% / 2) - 8px);
  margin-left: calc((100% / 2));
  left: 4px;
  bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 10px;
  content: 'Light';
  color: var(--secondary-text);
  display: block;
  line-height: 2em;
  text-align: center;
  float: right;
}

.sliderLeft {
  position: absolute;
  content: "";
  height: 28px;
  /* width: 26px; */
  width: calc((100% / 2) - 8px);
  /* margin-left: calc((100% / 2)); */
  left: 4px;
  bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 8px;
  content: 'Light';
  color: var(--secondary-text);
  display: block;
  line-height: 2em;
  text-align: center;
  float: right;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  /* width: 26px; */
  width: calc((100% / 2) - 8px);
  left: 4px;
  bottom: 4px;
  background-color: var(--elevated-bg);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 7px;
  content: 'Light';
  color: var(--button-highlight);
  display: block;
  line-height: 2em;
  text-align: center;
  font-weight: 600;
  z-index: 2;
}

input:checked+.slider:before {
  transform: translateX(92px);
  content: 'Dark';
  color: var(--button-highlight);
  text-align: center;
  font-weight: 600;
}

/* min */

.switchMin {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 36px;
  margin-top: 34px;
}

/* Hide default HTML checkbox */
.switchMin input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.sliderMin {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--muted-text);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 10px;
  vertical-align: middle;
}

.sliderRightMin {
  position: absolute;
  content: "";
  height: 28px;
  /* width: 26px; */
  width: calc((100% / 2) - 8px);
  margin-left: calc((100% / 2));
  left: 4px;
  bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 10px;
  content: 'Light';
  color: var(--secondary-text);
  display: block;
  line-height: 2em;
  text-align: center;
  float: right;
}

.sliderLeftMin {
  position: absolute;
  content: "";
  height: 28px;
  /* width: 26px; */
  width: calc((100% / 2) - 8px);
  /* margin-left: calc((100% / 2)); */
  left: 4px;
  bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 8px;
  content: 'Light';
  color: var(--secondary-text);
  display: block;
  line-height: 2em;
  text-align: center;
  float: right;
}

.sliderMin:before {
  position: absolute;
  content: "";
  height: 28px;
  /* width: 26px; */
  width: calc((100% / 2) - 8px);
  left: 4px;
  bottom: 4px;
  background-color: var(--elevated-bg);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 7px;
  content: 'L';
  color: var(--button-highlight);
  display: block;
  line-height: 2em;
  text-align: center;
  z-index: 999;
  font-weight: 600;
}

input:checked+.sliderMin:before {
  transform: translateX(34px);
  content: 'D';
  color: var(--button-highlight);
  text-align: center;
  font-weight: 600;
}

.tocBanner {
  margin-top: 24px;
  /* text-align: center; */
}

.tocBannerIcon {
  width: 32px;
  height: auto;
  vertical-align: middle;
  /* border-radius: 50%; */
}

.tocBannerTextLeft {
  vertical-align: middle;
  font-size: 20px;
  padding-left: 5px;
  font-weight: bold;
  font-family: "Nunito";
  color: var(--primary-text)
}

.tocBannerTextRight {
  font-weight: normal;
}


.precount {
  /* dark mode */
  color: var(--secondary-text);
  /* light mode */
  /* color: #c1c1c1; */
}

.label {
  font-family: var(--font);
  color: var(--primary-text);
}

.tocLabel {
  /* light mode */
  /* color: rgba(0, 0, 0, 0.4); */
  /* dark mode */
  color: var(--secondary-text);
  text-align: left;
  margin-bottom: 0%;
}

.tocTitle {
  /* dark mode */
  color: var(--secondary-text);
  /* light mode */
  /* color: #c1c1c1; */
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  /* padding-top: 24px; */
  padding-top: 5px;
  margin-bottom: 0;
  margin-top: 0;
  font-family: var(--font);
  user-select: none;

}

.tocTitle:hover {
  background-color: var(--muted-text);
  border-radius: 5px;
}

.paneTitle {
  /* dark mode */
  color: var(--secondary-text);
  /* light mode */
  /* color: #c1c1c1; */
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  /* padding-top: 24px; */
  padding-top: 24px;
  margin-bottom: 0;
  margin-top: 0;
  font-family: var(--font);
  user-select: none;
  /* font-weight: bold; */

}

#breakSection {
  margin-top: 32px;
  padding-bottom: 10px;
  filter: brightness(120%);
  padding-left: 8px;
}

#breakSection:hover {
  background-color: transparent;
}

.bottomToc {
  position: absolute;

  /* left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;  */

  bottom: 0;
  padding-bottom: 24px;
  padding-top: 24px;
  border-top: 1px solid var(--muted-text);
}

.tocTitleFirst {
  /* dark mode */
  color: var(--secondary-text);
  /* font-weight: bold; */

  /* light mode */
  /* color: #c1c1c1; */
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 0;
  margin-top: 32px;
}

.tocTitleFirst:hover {
  background-color: var(--muted-text);
  border-radius: 5px;
}

.tab {
  text-align: left;
  font-family: var(--font);
  font-size: 1em;
  padding: 5px;
  width: 100%;
  /* dark mode */
  color: var(--primary-text);
  /* light mode */
  /* color: black; */
  background-color: transparent;
  border: none;
}

.tab:focus {
  background-color: var(--muted-text);
  border-radius: 2px;
}

.tab:hover {
  background-color: var(--muted-text);
  border-radius: 2px;
}

.tabPlus {
  color: #c5c5c5;
  opacity: 1;
  margin-top: 2px;
  filter: var(--icon-filter);
}

.tabRightComponents {
  float: right;
  text-align: right;
  padding-right: 5px;
  vertical-align: middle;
}

.topic {
  text-align: center;
  font-family: var(--font);
  /* font-weight: bold; */
  font-size: 1em;
  /* padding: 5px; */
  padding-left: 5px;
  padding-right: 5px;
  width: fit-content;
  display: block;
  border-radius: 5px;
  /* dark mode */
  /* color: var(--button-highlight-text); */
  /* light mode */
  /* color: black; */
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  transition: 0.2s;
}

.topic:hover {
  filter: brightness(70%);
}

.topic:nth-child(1) {
  margin-top: 5px;
  background-color: rgba(0, 128, 128, 0.2);
  color: rgba(0, 128, 128, 1);
}

.topic:nth-child(2) {
  background-color: rgba(255, 127, 80, 0.2);
  color: rgba(255, 127, 80, 1);
}

.topic:nth-child(3) {
  background-color: rgba(106, 90, 205, 0.2);
  color: rgba(106, 90, 205, 1);

}

.topic:nth-child(4) {
  background-color: rgba(218, 165, 32, 0.2);
  color: rgba(218, 165, 32, 1);

}

.topic:nth-child(5) {
  background-color: rgba(220, 20, 60, 0.2);
  color: rgba(220, 20, 60, 1);
}

.topic:nth-child(7) {
  margin-top: 5px;
  background-color: rgba(0, 128, 128, 0.2);
  color: rgba(0, 128, 128, 1);
}

.topic:nth-child(6) {
  background-color: rgba(255, 127, 80, 0.2);
  color: rgba(255, 127, 80, 1);
}

.topic:nth-child(8) {
  background-color: rgba(106, 90, 205, 0.2);
  color: rgba(106, 90, 205, 1);

}

.topic:nth-child(10) {
  background-color: rgba(218, 165, 32, 0.2);
  color: rgba(218, 165, 32, 1);

}

.topic:nth-child(9) {
  background-color: rgba(220, 20, 60, 0.2);
  color: rgba(220, 20, 60, 1);
}

.fileViewTopicsContainer {
  padding-bottom: 5px;
}

.fileSys {
  padding-bottom: 5px;
}


.fileElem {
  text-align: left;
  font-family: var(--font);
  font-size: 1em;
  padding: 5px;
  width: 100%;
  /* dark mode */
  color: var(--primary-text);
  /* color: #3e424b; */
  /* light mode */
  /* color: black; */
  background-color: transparent;
  border: none;
  /* transition: 0.2s; */
}

.fileElem:hover {
  background-color: var(--muted-text);
  border-radius: 5px;
}

.fileElemChild {
  text-align: left;
  font-family: var(--font);
  font-size: 1em;
  padding-left: 20px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  color: var(--primary-text);
  background-color: transparent;
  border: none;
}

.fileElemChild:hover {
  background-color: var(--muted-text);
  border-radius: 2px;
}

::placeholder {
  color: var(--secondary-text);
}

.searchIcon {
  height: 24px;
}


.pageInfo {
  padding-bottom: 20px;
}

.headerNav {
  text-decoration: none;
  opacity: 1;
  color: var(--primary-text);
  line-height: 1.4em;
}

.headerDelim {
  /* color: rgba(0, 0, 0, 0.4); light mode */
  color: var(--secondary-text);
  font-family: var(--font);
}

.infoDisplay {
  padding-bottom: 8px;
  padding-top: 5px;
  font-family: var(--font);
  color: var(--primary-text);
}

.statsContainer {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  overflow: auto;
}

.outlineContainer {
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 20px;
  /* padding-top: 24px; */
  overflow: auto;
}

.outlineElement {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1em;
  text-align: left;
  transition: 0.2s;
  font-family: var(--font);
}

.outlineElement:hover {
  background-color: var(--muted-text);
  border-radius: 5px;
}

.lastClickedHeader {
  font-weight: bold;
}

.stylingContainer {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  overflow: auto;
}

/* elements */
h1 {
  font-size: 1.8em;
  line-height: 1.4em;
  /* margin-top: 0; */
  padding-bottom: 0.3em;
  border-bottom: 1px solid var(--muted-text);
  font-weight: 700;
}

h2 {
  font-size: 1.4em;
  /* margin-top: 0; */
  line-height: 1.4em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid var(--muted-text);
}

h3 {
  font-size: 1.2em;
  line-height: 1.4em;
  /* margin-top: 0; */
  padding-bottom: 0.3em;
  border-bottom: 1px solid var(--muted-text);
}

h4 {
  font-size: 1em;
  line-height: 1.4em;
  /* margin-top: 0; */
  /* padding-bottom: 0.3em; */
  /* border-bottom: 1px solid var(--muted-text); */
}

h5 {
  font-size: 0.9em;
  line-height: 1.4em;
  /* margin-top: 0; */
  /* padding-bottom: 0.3em; */
  /* border-bottom: 1px solid var(--muted-text); */
}

p {
  /* margin-top: 0;
  margin-bottom: 0; */
  /* font-size: 16px; */
  line-height: 1.5em;
}

a {
  color: var(--secondary-text);
  opacity: 0.8;
}

a:hover {
  opacity: 1;
}

blockquote {
  border-left: 4px solid var(--secondary-text);
  padding-left: 20px;
  margin-left: 0;
}

ul {
  margin-top: 0;
  line-height: 1.4em;
}

li::marker {
  color: var(--secondary-text);
}

ul li p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
}

hr {
  border: none;
  height: 0.25em;
  background-color: var(--muted-text);
}

/* Highlight specific components */
code {
  box-sizing: border-box;
  padding-right: 20px;
  display: inline-block;
  background-color: var(--code);
  /* padding: 0px 2px; */
  padding: 0.2em 0.4em;
  font-size: 85%;
  border-radius: 6px;
  vertical-align: middle;
  line-height: 1.4;
}

code {
  white-space: pre-wrap;
  /* This property ensures that the code is displayed with line breaks */
}

pre {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--code);
  padding: 10px;
  font-size: 0.9em;
  border-radius: 5px;
  overflow-x: auto;
  /* This property ensures that the code block is horizontally scrollable if necessary */
}

table,
th,
td {
  border: 1px solid #3a3a3b;
  border-collapse: collapse;
  padding: 10px;
}

table {
  margin-bottom: 10px;
}

.emoji {
  width: 1em;
  height: 1em;
  display: inline;
  vertical-align: text-top;
  /* vertical-align: middle; */
}

/* span[data-type=emoji] {
  display: inline-block;
  height: 1em;
  vertical-align: middle;
} */

/* Modals */

.modal-header {
  position: relative;
}

.modalDefaultButton {
  font-family: var(--font);
  padding: 5px 5px 5px 5px;
  font-size: 1em;
  background-color: var(--muted-text);
  border: none;
  color: var(--primary-text);
  border-radius: 5px;
  width: 100px;
  margin-right: 5px;
  transition: 0.2s;
  user-select: none;
}

.modalDefaultButton:hover {
  filter: brightness(90%);
}

.modalActionButton {
  font-family: var(--font);
  padding: 5px 5px 5px 5px;
  font-size: 1em;
  background-color: var(--button-highlight);
  border: none;
  color: var(--button-highlight-text);
  border-radius: 5px;
  width: 100px;
  margin-right: 5px;
  transition: 0.2s;
  user-select: none;
}

.modalActionButton:hover {
  filter: brightness(90%);
}

.modalActionContainer {
  text-align: center;
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
  width: 360px;
}

.modalCloseButton {
  font-family: var(--font);
  padding: 5px 5px 5px 5px;
  font-size: 1em;
  background-color: transparent;
  border: none;
  color: var(--primary-text);
  border-radius: 2px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.2s;
}

.modalCloseButton:hover {
  background-color: var(--muted-text);
}

.modalCategoryButton {
  font-family: var(--font);
  padding: 5px 10px 5px 10px;
  width: 100px;
  margin-right: 5px;
  font-size: 1em;
  border: none;
  color: var(--primary-text);
  background-color: var(--muted-text);
  border-radius: 2px;
  opacity: 0.5;
  transition: 0.2s;
}

.modalCategoryButton:hover {
  opacity: 1;
}

.modalCategoryButton:focus {
  background-color: var(--button-highlight);
  opacity: 1;
  color: var(--button-highlight-text);
}

.modalCategorySelectorContainer {
  text-align: center;
  padding-bottom: 10px;
}

.templateSelectorBody {
  height: 700px;
  overflow: auto;
  box-sizing: border-box;
}

.templateSelectorContainer td {
  border: none;
}

.templateSelectorContainer {
  border: 0px !important;
  margin-left: auto;
  margin-right: auto;
}

.templateSelector {
  width: 300px;
  height: 332px;
  border: 1px solid var(--muted-text);
  position: relative;
  border-radius: 10px;
  transition: 0.2s;
}

.templateSelector:focus {
  border: 1px solid var(--button-highlight);
}

.templateSelector:focus .templateName {
  background-color: var(--button-highlight);
  color: var(--button-highlight-text);
}

.templateSelectorThumbnail {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  z-index: -1;
}

.templateName {
  position: absolute;
  bottom: 0;
  background-color: var(--muted-text);
  width: 100%;
  height: 32px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: center;
  transition: 0.2s;
}

.templateNameLabel {
  line-height: 32px;
}

/* topic modal */

.tagsList {
  /* display: inline; */
  list-style-type: none;
  padding-left: 0;
}

.tagsList li {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid var(--muted-text);
  text-align: center;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  user-select: none;
  transition: 0.2s;
  color: var(--primary-text);
}

.tagItem {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  /* border: 1px solid var(--muted-text); */
  background-color: var(--elevated-bg);
  text-align: center;
  border-radius: 20px;
  margin-right: 10px;
  user-select: none;
  transition: 0.2s;
  vertical-align: middle;
  color: var(--primary-text);
}

.tagsList li.selected {
  background-color: var(--button-highlight);
  color: var(--button-highlight-text);
  border: 1px solid var(--button-highlight);
}

.topicCreationInput {
  font-family: var(--font);
  color: var(--primary-text);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--elevated-bg);
  border-bottom: 1px solid var(--muted-text);
  border-top: 0px transparent;
  border-left: 0px transparent;
  border-right: 0px transparent;
  outline: none;
  font-size: 1em;
  margin-right: 10px;
  width: 235px;
  user-select: none;
}